body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Example font, change as needed */
}
h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.welcome-image {
  position: relative;
  width: 100%;
  height: 310px; /* or a specific height */
  overflow: hidden;
  background-color: #ffffff; /* This can be any color or even a gradient if you prefer */
}

.welcome-image img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 4s ease-in-out;
  /* z-index: -1; We will not use a negative z-index for images */
  opacity: 0; /* start fully transparent */
}

.welcome-image img.active {
  opacity: 1;
  z-index: 2; /* bring the active image on top, above the background image */
}

.logos-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.logo img {
  width: 100%; /* Adjust size as needed */
  margin-bottom: 80px; /* Space between logo image and text */
}

.container {
  width: 100%;
  max-width: 1200px; /* Maximum width of the content */
  margin: 0 auto; /* Center the content */
  padding: 20px;
  box-sizing: border-box;
}

/* Base styles for the card */
[data-aos="fade-right"] {
  display: flex;
  flex-direction: column; /* Stack image on top of text by default */
  align-items: center; /* Center-align the content */
  margin: 30px auto; /* Center the card with a margin on the top and bottom */
  background: #fff; /* White background for card */
  padding: 20px;
  border-radius: 10px; /* Rounded corners for card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  max-width: 400px; /* Maximum width of the card */
  width: 100%; /* Make width responsive */
  box-sizing: border-box; /* Include padding in width calculation */
}

/* Styles for the images within the card */
[data-aos="fade-right"] img {
  width: 100%; /* Make image responsive */
  height: auto; /* Maintain aspect ratio */
  border-top-left-radius: 10px; /* Rounded corners for top of the image */
  border-top-right-radius: 10px;
  max-width: 400px; /* Maximum width of the image */
  box-sizing: border-box; /* Include padding and border in the image's total width and height */
}

/* Text styling within the card */
[data-aos="fade-right"] h2,
[data-aos="fade-right"] p {
  width: 100%; /* Ensure text is within the card */
  margin: 10px 0; /* Margin for spacing */
  padding: 0 15px; /* Padding on the sides for some breathing room */
  box-sizing: border-box; /* Include padding in the text's total width */
  text-align: center; /* Center align text for all screen sizes */
}

[data-aos="fade-right"] h2 {
  font-size: 1.25rem; /* Responsive font size for heading */
  font-weight: bold; /* Bold font weight for heading */
}

[data-aos="fade-right"] p {
  font-size: 1rem; /* Responsive font size for paragraph */
}

/* Media queries for larger screens */
@media (min-width: 768px) {
  [data-aos="fade-right"] {
    flex-direction: row; /* Side by side image and text */
    max-width: 700px; /* Increase max width for larger screens */
  }

  [data-aos="fade-right"] img {
    max-width: 350px; /* Set a max-width for images on larger screens */
    border-radius: 10px 0 0 10px; /* Adjusted radius for side by side layout */
  }

  /* Text container for larger screens to align text left */
  .text-container {
    text-align: left;
    padding: 0 20px; /* More padding on larger screens */
  }

  [data-aos="fade-right"] h2,
  [data-aos="fade-right"] p {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  [data-aos="fade-right"] {
    max-width: 1000px; /* Further increase max width for very large screens */
  }

  [data-aos="fade-right"] h2 {
    font-size: 1.5rem; /* Larger font size for heading */
  }

  [data-aos="fade-right"] p {
    font-size: 1.25rem; /* Larger font size for paragraph */
  }
}
