nhtml,
body {
  height: 100%; /* Make sure the html and body are full height */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
  background-image: url("../src/assets/bakgrunn.webp");
  background-attachment: fixed; /* The background image will not scroll with the page */
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Cover the entire area */
}

/* Your rotating images container */
.slideshow-container {
  position: relative; /* The position should be relative or absolute depending on your layout */
  z-index: 2; /* Ensure it is above the background */
}

/* Any other content */
.content {
  position: relative; /* Ensure it's above the background image */
  z-index: 2; /* Higher than the background but on the same plane as the slideshow */
}
/* Styles for the App component */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

/* Styles for the content area */
.content {
  flex: 1; /* This makes the content area grow and take up available space, pushing the footer down */
}

/* Styles for the App logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Animation styles for the App logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Styles for the App header */
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Styles for the App link */
.App-link {
  color: #61dafb;
}

/* Keyframes for the App logo spin animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Footer styles */
/* Ensure your footer styles are correctly targeting the footer element */
.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.footer p {
  color: #888;
  font-size: 14px;
}

.footer a {
  color: #333;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
